/*========== Card ==========*/

.c-card {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,.05);
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 30px 40px 40px;
  @mixin full-width-xs;
  @media(--xs) {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
  }
}