/*========== Carousel ==========*/


.c-carousel.is-loading {
  .c-carousel__slide:not(:first-child) {
    display: none;
  }
}

.c-carousel__slide {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.c-carousel__bubbles {
  @mixin flex row, center, center;
  margin-top: 20px
}
.c-carousel__bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid $color-gray-light;
  margin: 0 3px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &.tns-nav-active {
    background-color: $color-blue;
    border: 2px solid $color-blue;
  }
}