/*========== Cover ==========*/

.c-cover {
  background-color: transparent;
  background-size: 350px;
  background-repeat: repeat;
}
.c-cover__container {
  position: relative;
  min-height: 100vh;
  @mixin flex column, flex-start, stretch;
  padding-top: 40px;
  padding-bottom: 80px;
}
.c-cover__back {
  position: absolute;
  left: 0;
  padding: 0 40px;
  width: 100vw;
  text-align: center;
  @media(--mobile) {
    text-align: left;
  }
}
.c-cover__backLink {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  margin-right: 2px;
  color: $color-blue-lighter;
  &:hover {
    color: $color-blue-lightest;
  }
}
.c-cover__backIcon {
  font-size: 10px;
  margin-right: 8px;
}