/*========== Footer Nav ==========*/

.c-footerNav {
  @mixin flex row, space-between, flex-start, wrap;
  margin-bottom: 20px;
}

.c-footerNav__group {
  @mixin flex column, space-between, flex-start;
  width: 100%;
  margin-bottom: 60px;
  @media (--mobile) {
    width: calc(50% - 20px);
  }
  @media (--desktop) {
    width: calc(20% - 20px);
  }
}

.c-footerNav__group--social {
  display: none;
  @media (--desktop) {
    display: flex;
  }
}

.c-footerNav__logo {
  margin-bottom: 20px;
}

.c-footerNav__logoIcon {
  width: 150px;
  max-height: 50px;
}

.c-footerNav__social {
  width: 150px;
  @mixin flex row, center, center;
}

.c-footerNav__socialLink {
  @mixin flex row, center, center;
  margin-left: 8px;
  height: 26px;
  width: 26px;
  background-color: $color-blue;
  border-radius: 50%;
  text-align: center;
  &:first-child {
    margin-left: 0;
  }
}

.c-footerNav__socialIcon {
  color: white;
  font-size: 14px;
}

.c-footerNav__socialIcon--instagram {
  font-size: 16px;
}

.c-footerNav__heading {
  color: $color-black;
  font-family: $font-raleway;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.c-footerNav__link {
  color: $color-blue-dark;
  font-family: $font-raleway;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
