/*========== Footer ==========*/

.c-footer {
  position: relative;
  @mixin flex column, center, center;
  z-index: $z-index-layout;
  user-select: none;
  margin-bottom: 152px;
}

.c-footerCart {
  @mixin flex row, space-between, center;
  width: 100%;
  padding: 25px 0;
  background-color: $color-blue-dark;
  color: white;
}

.c-footerCart__inner {
  @mixin container-large;
  @mixin flex row, space-between, center;
  z-index: $z-index-layout;
  font-size: 15px;
  color: white;
  @media (--tablet) {
    justify-content: flex-start;
  }
}

.c-footerMain {
  @mixin flex column, center, center;
  width: 100%;
  padding: 60px 0 20px;
  background-color: white;
  border-bottom: 1px solid $hr-gray-light;
}

.c-footerMain__inner {
  @mixin container-large;
}

.c-footerMain__middle {
  @mixin flex column;
  padding-top: 70px;
  border-top: 1px solid $hr-gray-light;
  @media (--desktop) {
    @mixin flex row, space-between, flex-start;
  }
}

.c-footerMain__payment,
.c-footerMain__paws {
  width: 100%;
  margin-bottom: 70px;
  @media (--desktop) {
    width: calc(((100% / 5) * 2) - 20px);
  }
}

.c-footerMain__paymentHeading,
.c-footerMain__pawsHeading {
  @mixin flex row, flex-start, center;
  color: $color-blue-dark;
  font-family: $font-raleway;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.c-footerMain__paymentShopify {
  height: 20px;
  margin-left: 8px;
}

.c-footerMain__paymentList {
  @mixin flex row, flex-start, center, wrap;
}

.c-footerMain__paymentItem {
  margin: 0 10px 10px 0;
}

.c-footerMain__pawsHeading {
  margin-bottom: 10px;
}

.c-footerMain__pawsText {
  @mixin flex row, flex-start, center;
  color: $color-black-light;
  font-family: $font-raleway;
  font-size: 15px;
  font-weight: 600;
}

.c-footerMain__pawsLink {
  margin-left: 10px;
}

.c-footerMain__pawsLogo {
  height: 40px;
}

.c-footerLegal {
  @mixin flex column, center, flex-start;
  @mixin container-large;
  background-color: $bg-gray-light;
  color: $color-blue-dark;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (--tablet) {
    @mixin flex row;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.c-footerLegal__copyright,
.c-footerLegal__link {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
  @media (--tablet) {
    margin-bottom: 0;
  }
}

.c-footerLegal__link {
  color: $color-blue-dark;
}

.c-footerLegal__break {
  font-size: 14px;
  opacity: 0.75;
}
