/*========== Footer ==========*/

.c-footer {
  @mixin flex column, center, center;
  z-index: $z-index-layout;
  user-select: none;
  margin-bottom: 152px;
}

.c-footerCart {
  @mixin flex row, space-between, center;
  width: 100%;
  padding: 25px 0;
  background-color: $color-blue-dark;
  color: white;
}

.c-footerCart__inner {
  @mixin container-large;
  @mixin flex row, space-between, center;
  font-size: 15px;
  color: white;
  @media (--tablet) {
    justify-content: flex-start;
  }
}

.c-footerCart__heading {
  margin-right: 30px;
  font-weight: 600;
}

.c-footerCart__count {
  opacity: 0.85;
  font-weight: 500;
}

.c-footerMain {
  @mixin flex column, center, center;
  width: 100%;
  padding: 60px 0 80px;
  background-color: white;
}

.c-footerMain__inner {
  @mixin container-large;
}

.c-footerMain__nav {
  @mixin flex row, space-between, flex-start;
}

.c-footerMain__navGroup {
  width: 25%;
}
