/*========== Header ==========*/

.c-header {
  position: relative;
  @mixin flex column, center, center;
  z-index: $z-index-layout;
  background-color: white;
  box-shadow: $box-shadow-header;
  user-select: none;
}

.c-headerBar {
  width: 100%;
  padding: 10px 0;
  background-color: $color-blue;
}

.c-headerBar__inner {
  @mixin container-large;
  overflow-y: visible;
  color: white;
  font-family: $font-raleway;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.c-headerBar__icon {
  font-size: 12px;
  margin: 0 4px;
}

.c-headerMain {
  @mixin show-tablet;
  width: 100%;
  padding: 20px 0;
  background-color: white;
}

.c-headerMain__inner {
  position: relative;
  @mixin container-large;
  @mixin flex column, center, center;
  @media (--desktop) {
    @mixin flex row, space-between, center;
  }
}

.c-headerMain__logo {
  @media (--tablet) {
    margin-bottom: 20px;
  }
  @media (--desktop) {
    margin-bottom: 0;
  }
}

.c-headerMain__logoIcon {
  width: 140px;
  min-width: 140px;
}

.c-headerMain__cart {
  position: absolute;
  top: -50px;
  right: 20px;
}

.c-headerMobile {
  @mixin hide-tablet;
  width: 100%;
  padding: 15px 0;
}

.c-headerMobile__inner {
  padding: 0 15px;
  @media (--mobile) {
    @mixin container-large;
  }
  @mixin flex row, space-between, center;
}

.c-headerMobile__logo {
  flex-grow: 1;
  text-align: center;
}

.c-headerMobile__logoIcon {
  width: 120px;
  min-width: 120px;
}
