/*========== Header ==========*/

.c-header {
  @mixin flex column, center, center;
  background-color: white;
  box-shadow: $box-shadow-header;
  user-select: none;
}

.c-headerBar {
  width: 100%;
  padding: 10px 0;
  background-color: $color-blue;
}

.c-headerBar__inner {
  @mixin container-large;
  overflow-y: visible;
  color: white;
  font-family: $font-raleway;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.c-headerBar__icon {
  font-size: 12px;
  margin: 0 4px;
}

.c-headerMain {
  @mixin show-tablet;
  width: 100%;
  padding: 20px 0;
  background-color: white;
}

.c-headerMain__inner {
  position: relative;
  @mixin container-large;
  @mixin flex column, center, center;
  @media (--desktop) {
    @mixin flex row, space-between, center;
  }
}

.c-headerMain__logo {
  height: 48px;
  @media (--tablet) {
    margin-bottom: 20px;
  }
  @media (--desktop) {
    margin-bottom: 0;
  }
}

.c-headerMain__logoIcon {
  width: 140px;
  min-width: 140px;
}

.c-headerMain__nav {
  display: none;
  @media (--tablet) {
    width: 100%;
    @mixin flex row, center, center;
    border-top: 1px solid $hr-gray-light;
    padding-top: 20px;
  }
  @media (--desktop) {
    @mixin flex row, flex-end, center;
    border-top: none;
    padding-top: 0;
  }
}

.c-headerMain__link {
  position: relative;
  margin-right: 30px;
  color: $color-black-dark;
  font-family: $font-raleway;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  @media (--desktop) {
    font-size: 16px;
    line-height: 48px;
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    border-bottom: 2px solid $color-blue;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
}
.c-headerMain__link:hover:after,
.c-headerMain__link--active:after {
  transform: scaleX(1);
}

.c-headerMain__social {
  @mixin flex row, space-between, center;
}

.c-headerMain__socialLink {
  @mixin flex row, center, center;
  margin-left: 8px;
  height: 24px;
  width: 24px;
  background-color: $color-blue;
  border-radius: 50%;
  text-align: center;
  @media (--desktop) {
    height: 28px;
    width: 28px;
  }
}

.c-headerMain__socialIcon {
  color: white;
  font-size: 12px;
  @media (--desktop) {
    font-size: 14px;
  }
}

.c-headerMain__socialIcon--instagram {
  font-size: 14px;
  @media (--desktop) {
    font-size: 16px;
  }
}

.c-headerMain__cart {
  position: absolute;
  top: -50px;
  right: 20px;
}

.c-headerMobile {
  @mixin hide-tablet;
}
