/*========== Main Nav ==========*/

.c-mainNav {
  display: none;
  @media (--tablet) {
    width: 100%;
    @mixin flex row, center, center;
    border-top: 1px solid $hr-gray-light;
    padding-top: 20px;
  }
  @media (--desktop) {
    @mixin flex row, flex-end, center;
    border-top: none;
    padding-top: 0;
  }
}

.c-mainNav__link {
  position: relative;
  margin-right: 30px;
  color: $color-black-dark;
  font-family: $font-raleway;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  @media (--desktop) {
    font-size: 16px;
    line-height: 50px;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    border-bottom: 2px solid $color-blue;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
}
.c-mainNav__link:hover:after,
.c-mainNav__link--active:after {
  transform: scaleX(1);
}

.c-mainNav__social {
  @mixin flex row, space-between, center;
}

.c-mainNav__socialLink {
  @mixin flex row, center, center;
  margin-left: 8px;
  height: 24px;
  width: 24px;
  background-color: $color-blue;
  border-radius: 50%;
  text-align: center;
  @media (--desktop) {
    height: 28px;
    width: 28px;
  }
}

.c-mainNav__socialIcon {
  color: white;
  font-size: 12px;
  @media (--desktop) {
    font-size: 14px;
  }
}

.c-mainNav__socialIcon--instagram {
  font-size: 14px;
  @media (--desktop) {
    font-size: 16px;
  }
}
