/*========== Modal ==========*/

.c-modal {
  position: relative;
  padding: 100px 0;
}
.c-modal__box {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 30px;
  background-color: $bg-gray-light;
  @media(--mobile) {
    padding: 40px;
    position: relative;
    margin: 0 auto;
    border-radius: $border-radius-card;
    border: 1px solid #d3d3d3;
    box-shadow: $box-shadow-modal;
  }
  @media(--mobile-max) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 60px 40px 40px;
    overflow-y: scroll;
  }
}
.c-modal__close {
  background-color: #eee;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  &:hover {
    background-color: #e8e8e8;
  }
  @media(--mobile) {
    top: 30px;
    right: 40px;
  }
}
.c-modal__closeIcon {
  color: #ccc;
  pointer-events: none;
  font-size: 16px;
}