/*================ Modal ================*/

.c-modal {
  z-index: $z-index-modal;
  @media(--mobile) {
    padding: 40px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: $bg-gray-light;
    box-shadow: $box-shadow-modal;
  }
}

.c-modal__field {
  width: 100%;
  background-color: white;
}
.c-modal__button {
  @mixin button $color-blue-light;
  width: 100% !important;
  padding: 15px 0 !important;
  border-radius: 3px !important;
}