/*========== Page ==========*/

.c-page {
  @mixin drawer-slide;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: $bg-gray-light;
}

.c-page--miniCartOpen,
.c-page--mobileMenuOpen {
  overflow-y: hidden;
}

.c-page--mobileMenuOpen {
  transform: translateX(300px);
}
