/*========== Prices ==========*/

.c-prices__basePrice, .c-prices__salePrice {
  font-weight: 600;
}
.c-prices__basePrice {
  color: $color-gray-dark;
}
.c-prices__salePrice {
  margin-right: 8px;
  color: $color-red-dark;
}
.c-prices__comparePrice {
  text-decoration: line-through;
  color: $color-gray;
  font-weight: 500;
}