/*========== Slideshow ==========*/

.c-slideshow__slide {
  margin-bottom: 10px;
}
.c-slideshow__thumbnail {
  min-width: 70px;
  width: 70px;
  margin: 10px 5px 5px;
  border: 2px solid transparent;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &.tns-nav-active {
    border: 2px solid $color-blue;
  }
}