/*========== Zones ==========*/

.c-view {
  min-width: 100vw;
  position: relative;
  z-index: $z-index-view;
  background-color: $bg-gray-light;
  @mixin transition-slide;
}

.c-view--miniCartOpen,
.c-view--mobileMenuOpen {
  position: absolute;
  overflow-y: hidden;
}

.c-view--mobileMenuOpen {
  transform: translateX(300px);
}

.c-page {
  position: relative;
  z-index: $z-index-page;
}
