/*========== Footer Legal ==========*/

.c-footerLegal {
  @mixin flex column, center, flex-start;
  @mixin container-large;
  background-color: $bg-gray-light;
  color: $color-blue-dark;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (--tablet) {
    @mixin flex row;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.c-footerLegal__copyright,
.c-footerLegal__link {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
  @media (--tablet) {
    margin-bottom: 0;
  }
}

.c-footerLegal__link {
  color: $color-blue-dark;
}

.c-footerLegal__break {
  font-size: 14px;
  opacity: 0.75;
}
