/*========== Footer Main ==========*/

.c-footerMain {
  @mixin flex column, center, center;
  width: 100%;
  padding: 60px 0 20px;
  background-color: white;
  border-bottom: 1px solid $hr-gray-light;
}

.c-footerMain__inner {
  @mixin container-large;
}

.c-footerMain__top {
  @mixin flex row, space-between, flex-start, wrap;
  margin-bottom: 20px;
}

.c-footerMain__navGroup {
  @mixin flex column, space-between, flex-start;
  width: 100%;
  margin-bottom: 60px;
  @media (--mobile) {
    width: calc(50% - 20px);
  }
  @media (--desktop) {
    width: calc(20% - 20px);
  }
}

.c-footerMain__navGroup--social {
  display: none;
  @media (--desktop) {
    display: flex;
  }
}

.c-footerMain__logo {
  margin-bottom: 20px;
}

.c-footerMain__logoIcon {
  width: 150px;
  max-height: 50px;
}

.c-footerMain__social {
  width: 150px;
  @mixin flex row, center, center;
}

.c-footerMain__socialLink {
  @mixin flex row, center, center;
  margin-left: 8px;
  height: 26px;
  width: 26px;
  background-color: $color-blue;
  border-radius: 50%;
  text-align: center;
  &:first-child {
    margin-left: 0;
  }
}

.c-footerMain__socialIcon {
  color: white;
  font-size: 14px;
}

.c-footerMain__socialIcon--instagram {
  font-size: 16px;
}

.c-footerMain__navHeading {
  color: $color-black;
  font-family: $font-raleway;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.c-footerMain__navLink {
  color: $color-blue-dark;
  font-family: $font-raleway;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.c-footerMain__bottom {
  @mixin flex column;
  padding-top: 70px;
  border-top: 1px solid $hr-gray-light;
  @media (--desktop) {
    @mixin flex row, space-between, flex-start;
  }
}

.c-footerMain__payment,
.c-footerMain__paws {
  width: 100%;
  margin-bottom: 70px;
  @media (--desktop) {
    width: calc(((100% / 5) * 2) - 20px);
  }
}

.c-footerMain__paymentHeading,
.c-footerMain__pawsHeading {
  @mixin flex row, flex-start, center;
  color: $color-blue-dark;
  font-family: $font-raleway;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.c-footerMain__paymentShopify {
  height: 20px;
  margin-left: 8px;
}

.c-footerMain__paymentList {
  @mixin flex row, flex-start, center, wrap;
}

.c-footerMain__paymentItem {
  margin: 0 10px 10px 0;
}

.c-footerMain__pawsHeading {
  margin-bottom: 10px;
}

.c-footerMain__pawsText {
  @mixin flex row, flex-start, center;
  color: $color-black-light;
  font-family: $font-raleway;
  font-size: 15px;
  font-weight: 600;
}

.c-footerMain__pawsLink {
  margin-left: 10px;
}

.c-footerMain__pawsLogo {
  height: 40px;
}
