/*========== Header Mobile ==========*/

.c-headerMobile {
  @mixin hide-tablet;
  width: 100%;
  padding: 15px 0;
}

.c-headerMobile__inner {
  padding: 0 15px;
  @media (--mobile) {
    @mixin container-large;
  }
  @mixin flex row, space-between, center;
}

.c-headerMobile__logo {
  flex-grow: 1;
  text-align: center;
}

.c-headerMobile__logoIcon {
  width: 120px;
  min-width: 120px;
}
