/*========== Header Sub ==========*/

.c-headerSub {
  background-color: white;
  border-top: 1px solid $hr-gray-light;
  width: 100%;
  padding: 10px 0;
}

.c-headerSub__inner {
  @mixin container-large;
  @mixin flex row;
  padding: 0 15px;
}

.c-headerSub__search {
  @mixin flex row, flex-start, center;
  flex-grow: 1;
  margin-right: 40px;
  margin-left: 8px;
  @media (--tablet) {
    margin-left: 0;
  }
}

.c-headerSub__searchIcon {
  color: $color-blue;
  font-size: 16px;
  position: relative;
  top: 1px;
}

.c-headerSub__searchInput {
  flex-grow: 1;
}

.c-headerSub__searchInput {
  border: none;
  box-shadow: none !important;
  outline: none !important;
  color: $color-blue-dark;
  font-family: $font-raleway;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  &::placeholder {
    color: $color-gray;
  }
}

.c-headerSub__nav {
  font-family: $font-raleway;
  font-size: 14px;
  font-weight: 500;
}

.c-headerSub__navLink {
  padding: 10px;
  color: $color-blue-dark;
  @media (--tablet) {
    padding: 0;
  }
}

.c-headerSub__navLink--contact {
  @mixin show-tablet;
}

.c-headerSub__navText {
  @mixin show-tablet;
}

.c-headerSub__navIcon {
  @mixin hide-tablet;
  margin-right: 8px;
  color: $color-blue;
  font-size: 16px;
}

.c-headerSub__navBreak {
  @mixin show-tablet;
  color: $hr-gray;
  margin: 0 4px;
}
