<footer class="c-footer">
  <div class="c-footerCart">
    <vue-portal name="mini-cart-trigger-footer" class="c-footerCart__inner"></vue-portal>
  </div>
  <div class="c-footerMain">
    <div class="c-footerMain__inner">
      {% include 'footer-nav' %}
    </div>
  </div>
  <div class="c-footerBar">
    <div class="c-footerBar__inner">
      <div class="mini-cart-trigger"></div>
    </div>
  </div>
</footer>