<div id="loading" class="c-loading u-hidden">
  <div class="c-loading__container o-container">
    <h3 class="c-loading__title">
      Updating your account
    </h3>
    {% include "part-loading-dots" with count: 4 %}
  </div>
</div>