<div class="c-collection__top o-strip u-bg-gray">
    <div class="c-collection__controls o-container o-flexFlip">
      <div class="c-collection__control">
        <span class="c-collection__label">
          Browse
        </span>
        <div class="c-collection__select">
          <select class="c-collection__selectInner" title="Browse" name="collection-browse">
            <option>For Dogs</option>
            <option>For People</option>
          </select>
        </div>
      </div>
      <div class="c-collection__control">
        <span class="c-collection__label">
          Sort
        </span>
        <div class="c-collection__select">
          <select class="c-collection__selectInner" title="Browse" name="collection-browse">
            <option>Best Selling</option>
            <option>A-Z</option>
          </select>
        </div>
      </div>
    </div>
  </div>