<div class="c-carouselGrid c-carousel is-loading">
  {% include 'part-loading-dots' with count: 4 %}
  <div class="c-carouselGrid__track c-carousel__track">
    {% for item in items %}
      <div class="c-carouselGrid__slide c-carousel__slide">
        {{ item }}
      </div>
    {% endfor %}
  </div>
  <div class="c-carouselGrid__bubbles c-carousel__bubbles">
     {% for item in items %}
      <span class="c-carouselGrid__bubble c-carousel__bubble"></span>
    {% endfor %}
  </div>
</div>

<script src="{{ 'block-carousel-grid.js' | asset_url }}" defer="defer"></script>