<div class="c-hero">
  <img class="c-hero__image lazyload" 
    src="{{ hero_large | img_url: 'x300' }}"
    data-src="{{ hero_large.src | img_url: 'master' }}" 
    alt="{{ hero_large.alt }}" 
  />
</div>