/*========== Page ==========*/

.c-page {
  padding: 40px 0 60px;
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
  p {
    text-align: left !important;
    font-size: 16px;
    @media(--tablet) {
      font-size: 18px;
    }
  }
  a {
    color: $color-blue;
    transition: all .15s ease-in-out;
    &:hover {
      color: $color-primary;
    }
  }
  ul, ol {
    margin-bottom: 20px;
    list-style-type: disc;
    li {
      margin-bottom: 10px;
    }
  }
  ol {
    list-style-type: decimal;
  }
}

.c-page__title {
  @media(--mobile-max) {
    text-align: center !important;
  }
}
.c-page__group {
  margin-bottom: 40px;
}