/*========== Search ==========*/

.c-search__text {
  margin-bottom: 30px;
  text-align: center;
  color: $color-black-dark;
  font-family: $font-body;
  @media(--mobile-max) {
    font-size: 20px;
  }
}