/*========== 404 ==========*/

.c-404 {
  width: 100%;
  max-width: 900px;
  margin: 80px auto 0;
}
.c-404__heading, 
.c-404__text,
.c-404__subheading,
.c-404__navHeading {
  color: white;
}
.c-404__search {
  .c-formSearch {
    max-width: 450px;
    margin: 30px auto;
    padding-left: 15px;
    background: #f2f2f2;
    border-radius: 6px;
    transition: background-color .15s ease-in-out;
    &:focus {
      background-color: white;
    }
  }
  .c-formSearch__input {
    color: $color-gray-dark;
    &::placeholder {
      color: $color-gray-light;
    }
  }
}
.c-404__divider {
  margin-bottom: 50px;
}
.c-404__subheading {
  margin-bottom: 40px;
}
.c-404__nav {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  @media(--mobile) {
    @mixin flex row, center, flex-start, wrap;
  }
  @media(--desktop) {
    max-width: 900px;
  }
}
.c-404__navGroup {
  @mixin flex column, stretch, center;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  @media (--tablet) {
    padding: 0 20px;
    width: 50%;
  }
  @media (--desktop) {
    width: 25%;
    margin-bottom: 20px;
  }
}

.c-404__navGroup--social {
  @media(--desktop) {
    width: 100px;
  }
}

.c-404__navHeading {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
}

.c-404__navItem {
  margin-bottom: 5px;
}

.c-404__navLink {
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 600;
  &:hover {
    color: $color-blue-lighter;
  }
}

.c-404 {
  .c-social__link:hover {
    color: $color-blue-lighter;
  }
  .c-social__icon {
    color: $color-blue-dark;
  }
}