<form class="c-formSearch__form" action="search" autocomplete="off" aria-role="form" arial-label="Search">
  <span class="c-formSearch__icon">
    {% include 'icon-search' %}
  </span>
  <input class="c-formSearch__input" type="text" placeholder="{{ placeholder }}" name="q" />
  <input type="hidden" name="type" value="product" />
</form>