<div>
  <h2>Set/Clear</h2>
  <button class="c-button-large c-button--submit trigger-cart-open">
    Open Cart
  </button>
  <button class="c-button-large c-button--submit trigger-cart-clear">
    Clear Cart
  </button>
</div>
<div>
  <h2>Add</h2>
  <button class="c-button-large c-button--submit trigger-cart-add" data-variants="38645211788" data-quantities="1">
    Add Cart
  </button>
  <button class="c-button-large c-button--submit trigger-cart-add" data-variants="37311739724" data-quantities="1">
    Add Cart Error
  </button>
  <button class="c-button-large c-button--submit trigger-cart-add" data-variants="38645211788,38646546316" data-quantities="1,2">
    Add Multi Cart
  </button>
   <button class="c-button-large c-button--submit trigger-cart-add" data-variants="38645211788,37311739724" data-quantities="1,1">
    Add Multi Cart Error
  </button>
</div>
<div>

<div>
  <h2>Change</h2>
  <button class="c-button-large c-button--submit trigger-cart-change" data-variants="38645211788,38646546316" data-quantities="20,20">
    Change Cart
  </button>
  <button class="c-button-large c-button--submit trigger-cart-change" data-variants="38596541388" data-quantities="1">
    Change Cart Error
  </button>
</div>

<div>
  <h2>Update</h2>
  <button class="c-button-large c-button--submit trigger-cart-update" data-variants="38645211788,38646546316" data-quantities="1,2">
    Update Cart
  </button>
  <button class="c-button-large c-button--submit trigger-cart-update" data-variants="38645211788,38596541388" data-quantities="1,10">
    Update Cart Error 1
  </button>
  <button class="c-button-large c-button--submit trigger-cart-update" data-variants="38645211788,37311739724,38596541388" data-quantities="1,1,3">
    Update Cart Error 2
  </button>
</div>

{% include 'homepage' %}