/*========== Breadcrumbs ==========*/

.c-breadcrumbs {
  position: absolute;
  top: -34px;
  color: $color-gray-light;
  font-size: 14px;
  font-weight: 700;
}
.c-breadcrumbs__link {
  color: $color-gray-light;
}
.c-breadcrumbs__chevron {
  font-size: 15px;
  margin: 0 1px;
}