<div class="c-collectionCarousel c-carousel is-loading" data-randomize="{{ randomize }}" data-limit="{{ limit }}">
  {% include 'part-loading' with count: 4 %}
  <div class="c-collectionCarousel__buttons c-carousel__buttons">
    <span class="c-collectionCarousel__button c-carousel__button"></span>
    <span class="c-collectionCarousel__button c-carousel__button"></span>
  </div>
  <div class="c-collectionCarousel__track c-carousel__track">
    {% for item in collection.products %}
      {% unless item.handle == product.handle %}
        <div class="c-collectionCarousel__slide c-carousel__slide o-flexColumn">
          {% include 'collection-item' with product: item %}  
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>

<script src="{{ 'collection-carousel.js' | asset_url }}" defer="defer"></script>