{% comment %} <ul class="c-productFeatures o-flexRow">
  {% for feature_item in feature_list %}
    <li class="c-productFeatures__item">
      {% include 'icon-badge-check' %}
      {{ feature_item }}
    </li>
  {% endfor %}
</ul> {% endcomment %}

teststststs