
<div class="c-productCarousel c-carousel is-loading{{ visible_class }}">
  <div class="c-productCarousel__track c-carousel__track">
    {% for image in product.images %}
      <img class="c-productCarousel__slide c-carousel__slide" src="{{ image.src | img_url: image_size }}" alt="{{ image.alt | escape }}" />
    {% endfor %}
  </div>
  {% if settings.show_carousel_nav %}
    <div class="c-productCarousel__bubbles c-carousel__bubbles">
      {% for image in product.images %}
        <span class="c-productCarousel__bubble c-carousel__bubble"></span>
      {% endfor %}
    </div>
  {% endif %}
</div>

<script src="{{ 'product-carousel.js' | asset_url }}" defer="defer"></script>