<ul class="c-productFeatures o-flexRow">
  {% for feature_item in feature_list %}
    <li class="c-productFeatures__item o-flexRow">
      <span class="c-productFeatures__icon">
        {% include 'icon-badge-check' %}
      </span>
      {{ feature_item }}
    </li>
  {% endfor %}
</ul>