
<div class="c-footerLegal">
  <span class="c-footerLegal__copyright">
    Copyright © 2019 Paws For A Cause
  </span>
  <nav class="c-footerLegal__nav">
    {% for link in linklists.legal-menu.links %}
      {% if forloop.index0 != 0 %}
      <span class="c-footerLegal__break">|</span>
      {% endif %}
      <a class="c-footerLegal__link" href= "{{ link.url }}">
        {{ link.title }}
      </a>
    {% endfor %}
  </nav>
</div>