<header class="c-headerBar">
  <div class="c-headerBar__inner">
    <i class="c-headerBar__icon fas fa-heart"></i>
    100% profits to shelters
    <i class="c-headerBar__icon fas fa-heart"></i>
  </div>
</header>