<header class="c-headerSub">
  <div class="c-headerSub__inner">
    <form class="c-headerSub__search" action="/search">
      <i class="c-headerSub__searchIcon fas fa-search"></i>
      <input class="c-headerSub__searchInput" type="text" placeholder="Search..." name="q" value="{{ search.terms | escape }}"  />
    </form>
    <nav class="c-headerSub__nav">
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <a class="c-headerSub__navLink" href="/account">
            <span class="c-headerSub__navText">My Account</span>
            <i class="c-headerSub__navIcon fas fa-user-alt"></i>
          </a>
        {% else %}
          <a class="c-headerSub__navLink" href="/login">
            <span class="c-headerSub__navText">Login</span>
            <i class="c-headerSub__navIcon fas fa-user-alt"></i>
          </a>
        {% endif %}
        <span class="c-headerSub__navBreak">|</span>
      {% endif %}
      <a class="c-headerSub__navLink c-headerSub__navLink--contact" href="/contact-us">
        Contact Us
      </a>
    </nav>
  </div>
</header>