/*========== Cart ==========*/

.c-cart__drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 400px;
  max-width: 100%;
  background-color: white;
  overflow-y: scroll;
  z-index: $z-index-cart;
  @mixin transition-slide;
}

.c-cartHeader {
  position: relative;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.c-cartHeader__close {
  background-color: #eee;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  &:hover {
    background-color: #e8e8e8;
  }
}
.c-cartHeader__closeIcon {
  color: #ccc;
  pointer-events: none;
  line-height: 18px;
  font-size: 16px;
}
.c-cartHeader__count {
  @mixin flex row, center, center;
  display: inline-flex;
  position: relative;
  top: -4px;
  margin-left: 2px;
  width: 22px;
  min-width: 22px;
  height: 22px;
  background-color: $color-blue;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: bold; 
}
.c-cartHeader__subtotal {
  display: block;
  color: $color-gray;
  font-size: 15px;
  line-height: 18px;
}
.c-cartHeader__button {
  width: 100% !important;
  max-width: none !important;
}

.c-cartContent {
  padding: 0 20px 30px;
}
.c-cartContent__empty {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid $hr-gray-light;
}
.c-cartContent__emptyMessage, .c-cartContent__emptyAction {
  display: block;
  color: $color-gray-dark;
  text-align: center;
  line-height: 1.5;
}
.c-cartContent__emptyAction {
  margin-top: 5px;
  color: $color-blue-dark;
}

.c-cartItem {
  width: 100%;
  @mixin flex row, flex-start, center, nowrap;
  padding: 20px 0;
  border-top: 1px solid $hr-gray-light;
}
.c-cartItem__image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.c-cartItem__info {
  width: 100%;
  @mixin flex column, flex-start, flex-start;
  margin-right: 20px;
}
.c-cartItem__vendor, .c-cartItem__variant {
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
}
.c-cartItem__vendor {
  color: $color-blue-dark;
  font-weight: bold;
}
.c-cartItem__title {
  color: $color-black;
  line-height: 1.5;
  font-size: 13px;
}
.c-cartItem__variant {
  color: $color-gray;
}