/*========== Cart ==========*/

.c-cart__drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 400px;
  max-width: 100%;
  background-color: white;
  overflow-y: scroll;
  z-index: $z-index-cart;
  @mixin transition-slide;
}

.c-cartHeader {
  position: relative;
  padding: 15px 20px;
  margin-bottom: 10px;
}
.c-cartHeader__close {
  background-color: #eee;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  &:hover {
    background-color: #e8e8e8;
  }
}
.c-cartHeader__closeIcon {
  color: #ccc;
  pointer-events: none;
  line-height: 18px;
  font-size: 16px;
}
.c-cartHeader__count {
  @mixin flex row, center, center;
  display: inline-flex;
  position: relative;
  top: -4px;
  margin-left: 2px;
  width: 22px;
  min-width: 22px;
  height: 22px;
  background-color: $color-blue;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: bold; 
}
.c-cartHeader__subtotal {
  display: block;
  color: $color-gray;
  font-size: 15px;
  line-height: 18px;
}
.c-cartHeader__error {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: $color-red-lightest;
  border: 1px solid $color-red-light;
  text-align: center;
  color: $color-red-dark;
  font-size: 14px;
  line-height: 1.5;
}

.c-cartContent {
  padding: 0 20px 30px;
}
.c-cartContent__empty {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid $hr-gray-light;
}
.c-cartContent__emptyMessage, .c-cartContent__emptyAction {
  display: block;
  color: $color-gray-dark;
  text-align: center;
  line-height: 1.5;
}
.c-cartContent__emptyAction {
  margin-top: 5px;
  color: $color-blue-dark;
}

.c-cartItem {
  position: relative;
  width: 100%;
  @mixin flex row, flex-start, center, nowrap;
  padding: 20px 0 30px;
  border-top: 1px solid $hr-gray-light;
}
.c-cartItem__image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.c-cartItem__info {
  width: 100%;
  @mixin flex column, flex-start, flex-start;
  margin-right: 70px;
}
.c-cartItem__vendor, .c-cartItem__variant {
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
}
.c-cartItem__variant {
  color: $color-gray;
}
.c-cartItem__title {
  color: $color-black;
  line-height: 1.5;
  font-size: 13px;
}

.c-cartItem__basePrice, .c-cartItem__salePrice {
  font-size: 15px;
  font-weight: 600;
}
.c-cartItem__basePrice {
  color: $color-black-light;
}
.c-cartItem__salePrice {
  color: $color-red-dark;
  margin-right: 5px;
}
.c-cartItem__comparePrice {
  color: $color-gray;
  font-weight: 500;
  font-size: 13px;
  text-decoration: line-through;
}

.c-cartItem__actions {
  @mixin flex column, space-between, flex-end;
  height: calc(100% - 40px);
  position: absolute;
  top: 20px;
  right: 0;
}
.c-cartItem__removeIcon {
  font-size: 12px;
  color: $color-gray-light;
  &:hover {
    color: $color-gray;
  }
}
.c-cartItem__quantity {
  height: 25px;
  border: 1px solid $color-gray;
  color: $color-black;
  font-size: 14px;
  
}
.c-cartItem__quantityButton {
  height: 100%;
  padding: 0 8px;
  color: $color-black;
  &:hover {
    color: $color-black-light;
  }
}
.c-cartItem__quantityIcon {
  font-size: 8px;
}
.c-cartItem__quantityText {
  padding: 0 2px;
}

.c-cartUpsell {
  padding: 30px 15px 50px;
}
.c-cartUpsell__message {
  display: block;
  text-align: center;
  font-size: 16px;
  color: $color-black-dark;
}
.c-cartUpsell__grid {
  flex-wrap: wrap;
}
.c-cartUpsell__item {
 margin-top: 23px;
 width: calc(100% / 3 - 10px);
 &:nth-of-type(1n + 7) {
   display: none;
 }
}
.c-cartUpsell__image {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}
.c-cartUpsell__prices {
  margin-bottom: 8px;
}
.c-cartUpsell__comparePrice {
  margin-bottom: 2px;
  color: $color-gray;
  font-weight: 500;
  font-size: 12px;
  text-decoration: line-through;
}
.c-cartUpsell__basePrice, .c-cartUpsell__salePrice {
  font-size: 14px;
  font-weight: 600;
}
.c-cartUpsell__basePrice {
  color: $color-black-light;
}
.c-cartUpsell__salePrice {
  color: $color-red-dark;
}
.c-cartUpsell__add {
  padding: 5px 18px;
  font-size: 12px;
}
.c-cartUpsell__addIcon {
  margin-left: 3px;
  font-size: 8px;
}
