/*========== Collection ==========*/

.c-collection {
  @mixin padding-section;
}

.c-collection__inner {
  @mixin flex column, center, center;
  @mixin container-large;
}

.c-collection__heading {
  text-align: center;
}

.c-collection__grid {
  @mixin flex row, center, center, wrap;
  width: 100%;
  margin: 30px auto 0;
}

.c-collection__item {
  @mixin lost-column;
  @mixin flex column, center, center;
  margin-bottom: 80px;
  text-align: center;
  &:hover {
    .c-collection__itemPrice {
      color: $color-blue;
    }
  }
}

.c-collection__itemImage {
  width: 250px;
  margin-bottom: 20px;
  transition: inherit;
}

.c-collection__itemTitle {
  margin-bottom: 5px;
  font-weight: 500;
}

.c-collection__itemPrice {
  margin-bottom: 0;
  color: $color-black;
}

.c-collection__button {
}
