/*========== Header ==========*/

.c-header {
  width: 100%;
  height: 90px;
  @media(--tablet) {
    height: 160px;
  }
}

.c-headerBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-blue;
  padding: 0 15px;
  color: white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.c-headerBar__icon {
  font-size: 12px;
  margin: 0 4px;
}

.c-headerMain {
  width: 100%;
  @mixin flex row, center, center;
  background-color: white;
  position: fixed;
  top: 30px;
  height: 60px;
  @media(--mobile-max) {
    box-shadow: $box-shadow-header;
  }
  @media(--tablet) {
    position: absolute;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid $hr-gray-light;
  }
}
.c-headerMain__wrapper {
  height: 100%;
  @mixin flex row, center, center;
}
.c-headerMain__logo {
  display: block;
  height: 40px;
  @media(--tablet) {
    height: 48px; 
  }
}
.c-headerMain__logoIcon {
  display: block;
  height: 100%;
}
.c-headerMain__menu, .c-headerMain__cart {
  @mixin hide-tablet;
  position: fixed;
  padding: 0;
  height: 60px;
  width: 60px;
  @mixin flex row, center, center;
  svg {
    width: 24px;
    fill: $color-black-dark;
  }
  @media(--tablet) {
    &:hover svg {
      fill: $color-blue;
    }
  }
}
.c-headerMain__menu {
  left: 0;
}
.c-headerMain__cart {
  right: 0;
  margin-top: -2px;
}
.c-headerMain__cartCount {
  @mixin flex row, center, center;
  position: absolute;
  background-color: #f94331;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  right: 14px;
  bottom: 10px;
  width: 16px;
  height: 16px;
}
.c-headerMain__burger svg {
  position: relative;
  top: 1px;
  fill: $color-black;
  width: 22px;
}
.c-headerMain__close svg {
  position: relative;
  top: 1px;
  fill: $color-black;
  width: 18px;
}

.c-headerNav {
  @mixin show-tablet;
  position: absolute;
  top: 110px;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: $box-shadow-header;
  font-family: $font-raleway;
  &.is-fixed {
    position: fixed;
    top: 30px;
  }
}
.c-headerNav__wrapper {
  height: 100%;
}
.c-headerNav__nav {
  height: 100%;
  @mixin flex row, space-between, center;
}
.c-headerNav__account {
  margin-left: -15px;
}
.c-headerNav__burger {
  height: 50px;
  width: 50px;
  @mixin flex row, center, center;
  fill: $color-black;
  &:hover {
    fill: $color-blue;
  }
  svg {
    height: 14px;
  }
}
.c-headerNav__list {
  @mixin flex row, center, center;
}
.c-headerNav__item {
  margin-left: 30px;
  &:hover {
    .c-headerNav__drop {
      display: block;
    }
  }
}
.c-headerNav__link {
  display: block;
  color: $color-black-dark;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  &:hover {
    cursor: pointer;
    color: $color-blue;
  }
}
.c-headerNav__drop {
  display: none;
  position: absolute;
  margin-top: -2px;
  width: auto;
  min-width: 180px;
  background-color: white;
  padding: 15px 0;
  border-radius: $border-radius-card;
  box-shadow: $box-shadow-header-drop;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
  }
  &:before {
    top: -6px;
    left: 20px;
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    border-radius: $border-radius-card;
    box-shadow: $box-shadow-header-drop;
  }
  &:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    border-radius: $border-radius-card;
  }
}
.c-headerNav__dropLink {
  display: block;
  padding: 0 24px;
  color: $color-black-dark;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  white-space: nowrap;
  &:hover {
    background-color: $bg-gray;
    color: $color-blue;
  }
}
.c-headerNav__cart {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: -10px;
  @mixin flex row, center, center;
  fill: $color-black;
  &:hover {
    fill: $color-blue;
  }
  svg {
    position: relative;
    bottom: 2px;
    height: 20px;
  }
}
.c-headerNav__cartCount {
  @mixin flex row, center, center;
  position: absolute;
  background-color: #f94331;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  right: 8px;
  bottom: 8px;
  width: 16px;
  height: 16px;
}