/*========== Product ==========*/

.c-productMain__container {
  margin-top: 5px;
}
.c-productMain__aside {
  align-items: center;
  @media(--tablet) {
    align-items: stretch;
  }
}
.c-productMain__title {
  margin-bottom: 10px;
}
.c-productMain__vendor {
  margin-bottom: 5px;
  color: $color-blue;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.c-productMain__tagline {
  margin-bottom: 25px;
  color: $color-gray-dark;
  font-size: 18px;
}
.c-productMain__taglineHeart {
  color: $color-red;
}