/*========== Sidemenu ==========*/

.c-sidemenu {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  transform: translateX(-100%);
  background-color: $bg-gray;
  @mixin flex column, flex-start, stretch;
  @mixin transition-slide;
  @mixin hide-tablet;
  &.is-open {
    transform: translateX(0);
  }
}
.c-sidemenu__search {
  @mixin flex row, flex-start, center;
  padding: 0 30px;
  background-color: $bg-gray-light;
  border-bottom: 1px solid $hr-gray-light;
}
.c-sidemenu__searchIcon {
  position: relative;
  top: 1px;
  width: 18px;
  fill: $color-blue;
}
.c-sidemenu__searchInput {
  padding: 0 0 0 15px;
  flex-grow: 1;
  background-color: transparent;
  color: $color-blue;
  line-height: 60px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: none !important;
  &::placeholder {
    color: $color-gray;
  }
}
.c-sidemenu__list {
  position: absolute;
  left: 0;
  width: 100vw;
  min-height: 100%;
  background-color: $bg-gray;
}
.c-sidemenu__primary {
  top: 60px;
}
.c-sidemenu__secondary {
  top: 0;
  z-index: 1;
  @mixin transition-slide;
  transform: translateX(-100%);
  &.is-open {
    transform: translateX(0%);
  }
}
.c-sidemenu__item {
  border-top: 1px solid $hr-gray-light;
}
.c-sidemenu__link {
  display: block;
  position: relative;
  padding: 0 30px;
  color: $color-black;
  line-height: 60px;
  font-size: 16px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}
.c-sidemenu__linkIcon {
  position: absolute;
  top: 0;
  right: 30px;
  @mixin flex row, center, center;
  height: 60px;
  width: 12px;
  fill: $color-black-light;
  svg {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}
.c-sidemenu__back {
  padding-left: 56px;
}
.c-sidemenu__backIcon {
  left: 30px;
  svg {
    transform: rotate(90deg);
  }
}
.c-sidemenu__shipping {
  margin: 20px;
  padding: 20px;
  background-color: $color-blue;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.c-sidemenu__account {
  padding: 10px 30px 20px;
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid $hr-gray;
}
.c-sidemenu__accountLink {
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;
  line-height: 40px;
  &:hover {
    color: $color-blue-dark;
  }
}