/*========== Colors ==========*/

.u-color--primary {
  color: $color-primary;
}
.u-color--secondary {
  color: $color-primary;
}
.u-color--warning {
  color: $color-warning;
}
.u-color--danger {
  color: $color-danger;
}

.u-bg-gray {
  background-color: $bg-gray;
}
.u-bg-gray-light {
  background-color: $bg-gray-light;
}