/*========== Colors ==========*/

.u-colorPrimary {
  color: $color-primary;
}
.u-colorSecondary {
  color: $color-primary;
}
.u-colorWarning {
  color: $color-warning;
}
.u-colorDanger {
  color: $color-danger;
}

.u-bgWhite {
  background-color: white;
}
.u-bgGray {
  background-color: $bg-gray;
}
.u-bgGrayLight {
  background-color: $bg-gray-light;
}