/*========== 404 ==========*/

.c-404 {
  width: 100%;
  max-width: 100%;
  margin-top: 80px;
}
.c-404__heading, 
.c-404__text,
.c-404__subheading {
  color: white;
}
.c-404__divider {
  max-width: 900px;
  margin-bottom: 50px;
}
.c-404__subheading {
  margin-bottom: 30px;
}
.c-404__nav {
  max-width: 900px;
  margin: 0 auto;
  @media(--tablet) {
    @mixin flex row, space-between, flex-start, wrap;
  }
}
.c-404__navGroup {
  margin-bottom: 40px;
  @media(--small) {
    margin-bottom: 0;
  }
}

/*
.c-404__navLink {
  color: white !important;
  &:hover {
    color: $color-blue-lighter !important;
  }
}
.c-404__navSocialLink {
  background-color: white !important;
  &:hover {
    background-color: $color-blue-lighter !important;
  }
}
.c-404__navSocialIcon {
  color: $color-blue-dark !important;
} */