/*========== Account ==========*/

.c-account__flex {
  @mixin flex row, space-between, flex-start, wrap;

}
.c-account__heading {
  margin-bottom: 5px;
  @media(--mobile-max) {
    text-align: center;
  }
}
.c-account__block:not(:last-child) {
  margin-bottom: 50px;
}
.c-account__text {
  font-size: 16px;
  line-height: 1.5;
  @media(--mobile-max) {
    text-align: center;
  }
}