/*========== Addresses ==========*/

.c-addresses__wrapper {
  @mixin flex column, center, center;
  @media(--tablet) { 
    @mixin flex row, space-between, flex-start;
  }
}
.c-addresses__top {
  width: 100%;
  @mixin flex row, space-between, center, wrap;
}
.c-addresses__map {
  @mixin flex row, center;
  height: 30vw;
  max-height: 525px;
  padding: 0;
}
.c-addresses__mapInner {
  @mixin flex row, center;
  position: relative;
  overflow: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
.c-addresses__mapImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.c-addresses__mapOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg-gray-light;
  opacity: .65;
}
.c-addresses__mapMessage {
  position: relative;
}
.c-addresses__heading {
  text-align: center;
  @media(--tablet) {
    text-align: left;
  }
}
.c-addresses__subheadingIcon {
  margin-left: 4px;
  color: $color-blue;
}
.c-addresses__group {
  width: 100%;
  @mixin flex column, flex-start, center;
  margin-bottom: 30px;
  @media(--tablet) {
    align-items: flex-start;
  }
}
.c-addresses__subheading {
  margin-bottom: 0;
  color: $color-blue-dark;
}
.c-addresses__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 0 10px;
  @media(--tablet) {
    text-align: left;
  }
}