/*========== Addresses ==========*/

.c-addresses__top {
  width: 100%;
  @mixin flex row, space-between, center, wrap;
  margin-bottom: 20px;
  @media(--tablet) {
    margin-bottom: 60px;
  }
}
.c-addresses__map {
  @mixin flex row, center;
  height: 50vw;
  max-height: 350px;
  padding: 0;
  @media(--tablet) {
    height: 32vw;
  }
  @media(--xs) {
    border: none;
    margin-top: -50px;
  }
}
.c-addresses__mapInner {
  @mixin flex row, center;
  background-color: $bg-gray;
  position: relative;
  overflow: hidden;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  @media(--xs) {
    width: 100%;
    height: 100%;
  }
}
.c-addresses__mapImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.c-addresses__mapOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg-gray;
  opacity: .75;
}
.c-addresses__mapMessage {
  @mixin flex row, center, center;
  position: relative;
}
.c-addresses__mapText {
  color: $color-gray-dark;
  font-size: 18px;
}
.c-addresses__mapLoading {
  margin-left: 10px;
}
.c-addresses__heading {
  text-align: center;
  @media(--tablet) {
    text-align: left;
  }
}
.c-addresses__subheading {
  margin-bottom: 0;
  color: $color-blue-dark;
  text-align: center;
  @media(--tablet) {
    text-align: left;
  }
}
.c-addresses__subheadingIcon {
  margin-left: 4px;
  color: $color-blue;
}
.c-addresses__group {
  width: 100%;
  @mixin flex column, flex-start, center;
  margin-bottom: 30px;
  @media(--tablet) {
    align-items: flex-start;
  }
}
.c-addresses__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 0 10px;
  @media(--tablet) {
    text-align: left;
  }
}