/*========== Auth ==========*/

.c-auth {
  width: 450px;
  max-width: 100%;
  margin-top: 80px;
}
.c-auth__heading {
  @mixin flex row, center, center;
  text-align: center;
  color: white;
}
.c-auth__box {
  @media(--mobile) {
    padding: 40px;
    border-radius: $border-radius-card;
    border: 1px solid #d3d3d3;
    background-color: $bg-gray-light;
    box-shadow: $box-shadow-modal;
  }
}
.c-auth__links {
  width: 100%;
  @mixin flex column, flex-start, center;
  margin-top: 20px;
  color: $color-blue-lighter;
  font-size: 15px;
  @media(--mobile) {
    @mixin flex row;
  }
}
.c-auth__linksSide {
  margin-bottom: 10px;
}
.c-auth__link {
  color: $color-blue-lighter;
  font-size: 15px;
  &:hover {
    color: $color-blue-lightest;
  }
}
.c-auth__links--center {
  justify-content: center !important;
}