/*========== Product ==========*/

.c-productBuy {
  padding-top: 50px; 
  .c-productCarousel {
    width: 100%;
    max-width: 420px;
  }
  .c-productSlideshow {
    @media(--desktop) {
      @mixin flex row, space-between, flex-start;
    }
  }
  .c-productSlideshow__thumbnails {
    @media(--desktop) {
      @mixin flex column, flex-start, center;
      margin-right: 20px;
      order: -1;
    }
  }
  .c-productSlideshow__thumbnail {
    @media(--desktop) {
      margin: 0 0 10px;
    }
  }
}
.c-productDetails__container {
  flex-wrap: wrap;
}
.c-productDetails__group {
  align-items: flex-start;
  margin-bottom: 30px;
}