/*========== Buttons ==========*/

button {
  display: inline-block;
  width: auto;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  font-family: $font-body;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
  i {
    pointer-events: none;
  }
  &:disabled {
    pointer-events: none;
  }
}