/*========== Buttons ==========*/

button {
  width: auto;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: $color-black;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}