/*========== Text ==========*/

body {
  font-size: 16px;
  font-family: $font-open-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-raleway;
  font-weight: 600;
  line-height: 1.5;
  color: $color-black-dark;
}

h1 {
  font-size: 26px;
  margin: 0 0 24px;
  @media (--tablet) {
    font-size: 30px;
  }
}

h2 {
  font-size: 24px;
  margin: 0 0 20px;
  @media (--tablet) {
    font-size: 26px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 16px;
  @media (--tablet) {
    font-size: 22px;
  }
}

h4 {
  font-size: 16px;
  margin: 0 0 14px;
  @media (--tablet) {
    font-size: 18px;
  }
}

h5 {
  font-size: 14px;
  margin: 0 0 12px;
  @media (--tablet) {
    font-size: 16px;
  }
}

h6 {
  font-size: 14px;
  margin: 0 0 10px;
}

a {
  text-decoration: none;
  color: $color-blue;
  @mixin transition-opacity;
  &:hover {
    cursor: pointer;
  }
}

p {
  margin: 0 0 20px;
  line-height: 1.88;
  color: $color-black-light;
  font-size: 16px;
  @media (--tablet) {
    font-size: 18px;
  }
}
