/*========== Container ==========*/

.o-container {
  @mixin container;
}

.o-container--large {
  @mixin container;
  @media (--mobile) {
    max-width: none;
  }
  @media (--tablet) {
    max-width: none;
  }
  @media (--desktop) {
    max-width: 1240px;
  }
}