/*========== Zones ==========*/

#header {
  position: relative;
  z-index: $z-index-header;
  user-select: none;
}

#view {
  min-width: 100vw;
  position: relative;
}

#page {
  position: relative;
  z-index: $z-index-page;
  background-color: $bg-gray-light;
  &.search-visible {
    top: 52px;
    margin-bottom: 52px;
  }
}

#footer {
  position: relative;
  z-index: $z-index-footer;
  user-select: none;
}

#sidemenu {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-sidemenu;
  user-select: none;
  &.search-visible {
    top: 142px;
  }
}

#cart {
  position: relative;
  z-index: $z-index-cart;
  user-select: none;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  z-index: $z-index-modal;
  user-select: none;
}

#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-loading;
  user-select: none;
}