/*========== Zones ==========*/

#body {
  &.sidemenu-open, 
  &.cart-open, 
  &.modal-open {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

#header {
  z-index: $z-index-header;
  user-select: none;
}

#view {
  min-width: 100vw;
  position: relative;
}

#page {
  position: relative;
  z-index: $z-index-page;
  background-color: $bg-gray-light;
}

#footer {
  z-index: $z-index-footer;
  user-select: none;
}

#sidemenu {
  z-index: $z-index-sidemenu;
  user-select: none;
}

#cart {
  position: relative;
  z-index: $z-index-cart;
}