/*========== Zones ==========*/

#body {
  
}

#header {
  z-index: $z-index-header;
  user-select: none;
}

#view {
  min-width: 100vw;
  position: relative;
}

#page {
  position: relative;
  z-index: $z-index-page;
  background-color: $bg-gray-light;
  padding-top: 90px;
  @media(--tablet) {
    padding-top: 100px;
  }
  @media(--desktop) {
    padding-top: 110px;
  }
}

#footer {
  z-index: $z-index-footer;
  user-select: none;
}

#sidemenu {
  z-index: $z-index-sidemenu;
  user-select: none;
}