/*========== Account Details ==========*/

.c-account__info {
  margin-bottom: 60px;
  @media(--desktop) {
    margin-bottom: 0;
    align-items: flex-start;
  }
} 
.c-account__heading, 
.c-account__subheading, 
.c-account__address {
  text-align: center;
  @media(--desktop) {
    text-align: left;
  }
}
.c-account__subheading {
  text-transform: lowercase;
  color: $color-secondary;
  margin-bottom: 10px;
}
.c-account__address {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}