/*========== Addresses ==========*/

.c-addresses__addresses {
  margin-bottom: 60px;
  @media(--desktop) {
    margin-bottom: 0;
  }
}

.c-addresses__block {
  @media(--desktop) {
    align-items: flex-start;
  }
} 
.c-addresses__other {
  margin-top: 20px;
  .c-addresses__group {
    margin-bottom: 30px;
  }
}
.c-addresses__heading, 
.c-addresses__subheading, 
.c-addresses__group {
  text-align: center;
  @media(--desktop) {
    text-align: left;
  }
}
.c-addresses__subheading {
  text-transform: capitalize;
  color: $color-secondary;
  margin-bottom: 10px;
}
.c-addresses__group {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}