/*========== Cart ==========*/

.c-cart__drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 400px;
  max-width: 100%;
  background-color: white;
  overflow-y: scroll;
  z-index: $z-index-cart;
  @mixin transition-slide;
  @mixin flex column, flex-start, stretch;
}
.c-cart__loading {
  min-height: 144px;
  border-top: 1px solid $hr-gray-light;
}

.c-cartHeader {
  position: relative;
  padding: 15px 20px;
  margin-bottom: 10px;
}
.c-cartHeader__close {
  background-color: #eee;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50% !important;
  &:hover {
    background-color: #e8e8e8;
  }
}
.c-cartHeader__closeIcon {
  color: #ccc;
  pointer-events: none;
  line-height: 18px;
  font-size: 16px;
}
.c-cartHeader__heading {
  margin-bottom: 5px;
}
.c-cartHeader__count {
  @mixin flex row, center, center;
  display: inline-flex;
  position: relative;
  top: -4px;
  margin-left: 5px;
  width: 22px;
  min-width: 22px;
  height: 22px;
  background-color: $color-blue;
  border-radius: 50%;
  color: white;
  font-family: $font-body;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
}
.c-cartHeader__subtotal {
  display: block;
  color: $color-gray;
  font-size: 15px;
  line-height: 18px;
  font-family: $font-heading;
  font-weight: 500;
  margin-bottom: 15px;
}
.c-cartHeader__subtotalPrice {
  margin-left: 2px;
  font-family: $font-body;
  font-size: 16px;
  font-weight: 600;
}
.c-cartHeader__error {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: $color-red-lightest;
  border: 1px solid $color-red-light;
  text-align: center;
  color: $color-red-dark;
  font-size: 14px;
  line-height: 1.5;
}

.c-cartMain {
  padding: 0 20px 30px;
}
.c-cartMain__empty {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid $hr-gray-light;
}
.c-cartMain__emptyMessage, .c-cartMain__emptyAction {
  display: block;
  color: $color-gray-dark;
  text-align: center;
  line-height: 1.5;
}
.c-cartMain__emptyAction {
  margin-top: 5px;
  color: $color-blue;
  font-weight: 600;
}

.c-cartMainItem {
  position: relative;
  width: 100%;
  @mixin flex row, flex-start, center, nowrap;
  padding: 20px 0 30px;
  border-top: 1px solid $hr-gray-light;
}
.c-cartMainItem__link {
  width: 50px;
  min-width: 50px;
  margin-right: 20px;
}
.c-cartMainItem__info {
  width: 100%;
  @mixin flex column, flex-start, flex-start;
  margin-right: 70px;
}
.c-cartMainItem__vendor, .c-cartMainItem__variant {
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
}
.c-cartMainItem__variant {
  color: $color-gray;
}
.c-cartMainItem__title {
  color: $color-black;
  line-height: 1.5;
  font-size: 17px;
}

.c-cartMainItem__basePrice, .c-cartMainItem__salePrice {
  font-size: 18px;
  font-weight: 600;
}
.c-cartMainItem__basePrice {
  color: $color-black-light;
}
.c-cartMainItem__salePrice {
  color: $color-red-dark;
  margin-right: 5px;
}
.c-cartMainItem__comparePrice {
  color: $color-gray;
  font-weight: 500;
  font-size: 16px;
  text-decoration: line-through;
}

.c-cartMainItem__actions {
  @mixin flex column, space-between, flex-end;
  height: calc(100% - 40px);
  position: absolute;
  top: 20px;
  right: 0;
}
.c-cartMainItem__remove {
  width: auto;
}
.c-cartMainItem__removeIcon {
  font-size: 14px;
  color: $color-gray-light;
  &:hover {
    color: $color-gray;
  }
}
.c-cartMainItem__quantity {
  height: 25px;
  border: 1px solid $color-gray;
  color: $color-black;
  font-size: 14px;
  
}
.c-cartMainItem__quantityButton {
  height: 100%;
  padding: 0 8px;
  color: $color-black;
  &:hover {
    color: $color-black-light;
  }
}
.c-cartMainItem__quantityIcon {
  font-size: 8px;
}
.c-cartMainItem__quantityText {
  padding: 0 2px;
  font-weight: 600;
}

.c-cartUpsell {
  position: relative;
  padding: 30px 15px 50px;
  background-color: $bg-gray;
  flex-grow: 1;
}
.c-cartUpsell__message {
  display: block;
  text-align: center;
  font-family: $font-heading;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: $color-black-light;
  span {
    margin: 0 2px;
    color: $color-primary;
    font-family: $font-body;
    font-size: 20px;
    font-weight: 700;
  }
}
.c-cartUpsell__items {
  flex-wrap: wrap;
}
.c-cartUpsellItem {
 margin-top: 30px;
 lost-column: 1/3 3 10px;
 &:nth-of-type(1n + 7) {
   display: none;
 }
}
.c-cartUpsellItem__image {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}
.c-cartUpsellItem__prices {
  margin-bottom: 8px;
}
.c-cartUpsellItem__basePrice, 
.c-cartUpsellItem__salePrice {
  font-size: 18px;
  font-weight: 600;
}
.c-cartUpsellItem__comparePrice {
  margin-bottom: 2px;
  font-size: 16px;
}
.c-cartUpsellItem__add {
  padding: 5px 18px;
  font-size: 13px;
  font-weight: 700;
}
.c-cartUpsellItem__addIcon {
  margin-left: 3px;
  font-size: 9px;
}

.c-cartUpsellAdd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $bg-gray;
  padding: 30px 20px 50px;
}
.c-cartUpsellAdd__close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 26px;
  width: 26px;
  padding: 0;
  border-radius: 50% !important;
  background-color: #e7e7e7;
  &:hover {
    background-color: #e1e1e1;
  }
}
.c-cartUpsellAdd__closeIcon {
  font-size: 13px;
  color: #bbb;
}
.c-cartUpsellAdd__title {
  padding: 0 28px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: $color-black-light;
}
.c-cartUpsellAdd__main {
  align-items: flex-start;
  margin-top: 30px;
}
.c-cartUpsellAdd__imageBox {
  width: calc(50% - 10px);
}
.c-cartUpsellAdd__image {
  width: 150px;
}
.c-cartUpsellAdd__form {
  width: calc(50% - 10px);
  align-items: flex-start;
}
.c-cartUpsellAdd__prices {
  margin-bottom: 15px;
}
.c-cartUpsellAdd__basePrice, 
.c-cartUpsellAdd__salePrice {
  font-size: 20px;
  font-weight: 600;
}
.c-cartUpsellAdd__comparePrice {
  color: $color-gray;
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
}
.c-cartUpsellAdd__salePrice {
  order: -1;
  margin-right: 5px;
  margin-right: 5px;
}
.c-cartUpsellAdd__options {
  width: 100%;
}
.c-cartUpsellAdd__select {
  width: 100%;
  height: 48px;
  position: relative;
  margin-bottom: 10px;
  &:after {
    position: absolute;
    right: 10px;
    bottom: 16px;
    color: $color-black-light;
    font-family: Font Awesome\ 5 Free;
    font-size: 12px;
    font-weight: 900;
    content: "\f0dc";
    pointer-events: none;
  }
}
.c-cartUpsellAdd__selectLabel {
  position: absolute;
  top: 6px;
  left: 12px;
  color: $color-gray-light;
  font-size: 11px;
  text-transform: uppercase;
}
.c-cartUpsellAdd__selectInner {
  height: 48px;
  padding: 8px 25px 0 10px;
  color: $color-black-light;
  border: 2px solid #bbb;
  font-size: 16px;
  line-height: 38px;
  font-weight: 500;
}
.c-cartUpsellAdd__button {
  width: 100%;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
}


.c-cartAccount {
  width: 100%;
  padding: 0;
  user-select: none;
  @media(--mobile-max) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .c-cartHeader {
    position: relative;
    width: 100%;
    padding: 30px;
  }
  .c-cartHeader__close {
    display: none;
  }
  .c-cartUpsell {
    background-color: #fafafa;
    border-top: 1px solid $hr-gray-light;
  }
  @media(--tablet) {
    .c-cartMainItem {
      align-items: flex-start;
    }
    .c-cartMainItem__info {
      margin-top: 10px;
    }
    .c-cartMainItem__title,
    .c-cartMainItem__basePrice, 
    .c-cartMainItem__salePrice {
      font-size: 18px;
    }
    .c-cartMainItem__comparePrice {
      font-size: 16px;
    }
    .c-cartMainItem__quantity {
      position: relative;
      top: -20px;
    }
    .c-cartMainItem__link {
      min-width: 100px;
      min-height: 100px;
    }
    .c-cartUpsellItem__image {
      width: 100px;
      height: 100px;
    }
    .c-cartUpsellItem__comparePrice {
      font-size: 16px;
    }
    .c-cartUpsellItem__basePrice, 
    .c-cartUpsellItem__salePrice {
      font-size: 18px;
    }
    .c-cartUpsellItem__add {
      padding: 6px 24px;
      font-size: 15px;
    }
    .c-cartUpsellItem__addIcon {
      font-size: 10px;
    }
    .c-cartUpsellAdd__select {
      margin-bottom: 12px;
    }
    .c-cartUpsellAdd__button {
      padding: 12px 28px;
      font-size: 17px;
    }
  }
}