/*========== Prefooter ==========*/

.c-prefooter {
  background-color: transparent;
  background-size: 300px;
  background-repeat: repeat;
}

.c-prefooter__title {
  margin-bottom: 30px;
  text-align: center;
  color: white;
}