/*========== Collection Item ==========*/

.c-collectionItem {
  width: 100%;
  user-select: none;
}
.c-collectionItem__images {
  position: relative;
  width: 100%;
}
.c-collectionItem__image {
  width: 100%;
}
.c-collectionItem__title {
  margin-bottom: 2px;
  color: $color-black-dark;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}
.c-collectionItem:hover {
  .c-productPrices__basePrice, .c-productPrices__salePrice {
    color: $color-blue;
  }
}