<div id="account" class="c-account o-section">
  <div class="c-account__wrapper o-container">
    <div class="c-account__side">
      <h2 class="c-account__heading">
        Alex Asche
      </h2>
      <div class="c-account__group">
        <h3 class="c-account__subheading">
          Contact Info
        </h3>
        <span class="c-account__text">
          alexander.asche@gmail.com
        </span>
        <span class="c-account__text">
          413.427.1375
        </span>
      </div>
      <div class="c-account__group">
        <h3 class="c-account__subheading">
          Primary Address
        </h3>
        <span class="c-account__text">
          186 Marsh Island Drive
        </span>
         <span class="c-account__text">
          Kiawah Island SC, 29455
        </span>
      </div>
    </div>
    <div class="c-account__side">
      Vue Account Cart
    </div>
  </div>
</div>