{% layout 'paws' %}
<div class="c-auth">
  <h2 class="c-auth__heading">
    Join The Cause!
  </h2>
  <div id="activeAccountForm">
    {% form 'reset_customer_password' %}
      <div class="c-auth__errors">
        {{ form.errors | default_errors }}
      </div>
      <div class="c-auth__form c-modal">
        <input class="c-modal__field" type="password" name="customer[password]" placeholder="Password" autofocus required>
        <input class="c-modal__field" type="password" name="customer[password_confirmation]" placeholder="Confirm Password" required>
        <button class="c-modal__button" type="submit">Submit</button>
      </div>
    {% endform %}
  </div>
</div>