{% layout 'auth' %}
<h2 class="c-auth__heading">
  Welcome Aboard!
</h2>
<div id="registerForm">
  {% form 'create_customer' %}
    <div class="c-auth__errors">
      {{ form.errors | default_errors }}
    </div>
    <div class="c-auth__form c-modal">
      <input class="c-modal__field" type="text" name="customer[first_name]" placeholder="First Name" autocapitalize="words" autofocus required />
      <input class="c-modal__field" type="text" name="customer[last_name]" placeholder="Last Name" autocapitalize="words" required />
      <input class="c-modal__field" type="email" name="customer[email]" placeholder="Email Address" autocorrect="off" autocapitalize="off" required />
      <input class="c-modal__field" type="password" name="customer[password]" placeholder="Password" required />
      <button class="c-modal__button" type="submit">Register</button>
    </div>
    <div class="c-auth__links c-auth__links--center {">
      Already a member? &nbsp;
      <a class="c-auth__link" href="/account/login">Sign in</a>
    </div>
  {% endform %}
</div>
