{% layout 'paws' %}
<div class="c-auth">
  <h2 class="c-auth__heading">
    Reset Password
  </h2>
  <div id="resetPasswordForm" class="c-form">
    {% form 'reset_customer_password' %}
      <div class="c-form__errors">
        {{ form.errors | default_errors }}
      </div>
      <div class="c-auth__box c-form__body">
        <input class="c-form__field" type="password" name="customer[password]" placeholder="Password" autofocus required>
        <input class="c-form__field" type="password" name="customer[password_confirmation]" placeholder="Confirm Password" required>
        <button class="c-form__button c-button--large c-button--submit u-fullWidth" type="submit">Submit</button>
      </div>
    {% endform %}
  </div>
</div>