/*========== Form Search ==========*/

.c-formSearch {
  @mixin flex row, flex-start, center;
  height: 100%;
  box-sizing: content-box;
}
.c-formSearch__icon {
  position: relative;
  top: 2px;
  width: 18px;
  fill: $color-blue;
}
.c-formSearch__input {
  padding: 0 0 0 15px;
  flex-grow: 1;
  background-color: transparent;
  color: $color-black;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: none !important;
  &::placeholder {
    color: $color-gray;
  }
}