<div class="c-404">
  <h1 class="c-404__heading u-textCenter">Whoops!</h1>
  <p class="c-404__text u-textCenter">
    The page you're looking for was not found. Let's get you back on track!
  </p>
  <hr class="c-404__divider u-bgWhite" />
  <h4 class="c-404__subheading u-textCenter">
    Quick Links
  </h4>
  <nav class="c-404__nav o-flexColumn" role="navigation" aria-label="404 Navigation">
    {% for link in linklists.footer-navigation.links %}
      <div class="c-404__navGroup">
        <h4 class="c-404__navHeading">
          {{ link.title }}
        </h4>
        <ul class="c-404__navList">
          {% for link in link.links %}
            <li class="c-404__navItem">
              <a class="c-404__navLink" href="{{ link.url }}" title="{{ link.title }}"">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <div class="c-404__navGroup">
      <h4 class="c-404__navHeading">
        Community
      </h4>
      {% include "part-social" %}
    </div>
  </nav>
</div>