<section class="c-product">
  <div class="c-productBuy o-strip u-bg-gray">
    <div class="c-productBuy__container o-container o-flexFlip">
      {% assign settings = section.settings %}
      {% if settings.show_breadcrumbs %}
        {% include "part-breadcrumbs" %}
      {% endif %}
      <div class="c-productBuy__images o-flexItem-50 o-flexColumn">
        {% include 'product-carousel' with product, settings, image_size: "1024x1024" %}
        {% include 'product-slideshow' with product, settings, image_size: "1024x1024" %}
      </div>
      <div class="c-productBuy__details o-flexItem-50 o-flexColumn">
        {% assign tagline = product.metafields.product.tagline %}
        {% include 'product-form' with product, tagline, settings %}
      </div>
    </div>
  </div>
  <div class="c-productDetails o-strip">
    <div class="c-productDetails__container o-container o-flexFlip">
      <div class="c-productDetails__group o-flexItem-50 o-flexColumn">
        <h3>Description</h3>
        <p class="c-productDetails__description">
          {{ product.description }}
        </p>
        <div class="c-productDetails__profits">
          {% include 'icon-profits' %}
        </div>
      </div>
      {% assign tag_array = product.metafields.product.tags | split: "," %}
      {% if tag_array.size > 0 %}
        <div class="c-productDetails__group o-flexItem-50 o-flexColumn">
          <h3>Tags</h3>
          {% include 'product-tags' with tag_list: tag_array, settings %}
        </div>
      {% endif %}
      {% assign feature_array = product.metafields.product.features | split: "," %}
      {% if feature_array.size > 0 %}
        <div class="c-productDetails__group o-flexItem-100 o-flexColumn">
          <h3>Features</h3>
          {% include 'product-features' with feature_list: feature_array, settings %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="c-productRelated o-strip u-bg-gray">
    <div class="c-productRelated__container o-container">
      <h2 class="c-productRelated__heading u-textCenter">
        Recommended Products
      </h2>
      {% for tag in product.tags %}
        {% if tag contains 'For Dogs' %}
          {% assign related_products = collections['for-dogs'] %}
        {% elsif tag contains 'For People' %}
          {% assign related_products = collections['for-people'] %}
        {% endif %}
      {% endfor %}
      <div class="c-productRelated__collection">
        {% include 'collection-carousel' with product, collection: related_products, randomize: true, limit: 12 %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
	"name": "Page",
	"settings": [
    {
      "type": "header",
      "content": "Page"
    },
		{
			"id": "show_breadcrumbs",
			"type": "checkbox",
			"label": "Show Breadcrumbs",
      "default": true
		},
    {
      "type": "header",
      "content": "Product Gallery"
    },
    {
      "id": "carousel_visibility",
      "type": "select",
      "label": "Carousel Visibilty",
      "info": "Show carousel on these screen sizes",
      "default": "small",
      "options": [
        {
          "value": "all",
          "label": "All"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "small_medium",
          "label": "Small/Medium"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "medium_large",
          "label": "Medium/Large"
        },
        {
          "value": "large",
          "label": "Large"
        },
         {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
			"id": "show_carousel_nav",
			"type": "checkbox",
			"label": "Show Carousel Bubbles",
      "default": true
		},
    {
      "id": "slideshow_visibility",
      "type": "select",
      "label": "Slideshow Visibilty",
      "info": "Show slideshow on these screen sizes",
      "default": "medium_large",
      "options": [
        {
          "value": "all",
          "label": "All"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "small_medium",
          "label": "Small/Medium"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "medium_large",
          "label": "Medium/Large"
        },
        {
          "value": "large",
          "label": "Large"
        },
         {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
			"id": "show_slideshow_nav",
			"type": "checkbox",
			"label": "Show Slideshow Thumbnails",
      "default": true
		},
    {
      "type": "header",
      "content": "Product Form"
    },
    {
			"id": "show_tagline",
			"type": "checkbox",
			"label": "Show Tagline",
      "default": true
		},
		{
			"id": "show_vendor",
			"type": "checkbox",
			"label": "Show Vendor",
      "default": true
		},
    {
      "id": "quantity_label",
      "type": "text",
      "label": "Quantity Label",
      "default": "Quantity"
    },
    {
      "id": "button_active_text",
      "type": "text",
      "label": "Button Active Text",
      "default": "Add To Cart"
    },
    {
      "id": "button_disabled_text",
      "type": "text",
      "label": "Button Disabled Text",
      "default": "Sold Out"
    },
    {
      "id": "show_social_share",
      "type": "checkbox",
      "label": "Show Social Share",
      "default": true
    }
  ]
}
{% endschema %}