<section class="c-search o-strip u-noSelect">
  <div class="c-search__container o-container--large">
    {% if search.types[0] == 'product' %}
      <h3 class="c-search__text" aria-label="Seach Results">
        {{ search.results_count }} {{ section.settings.product_results }} '{{ search.terms }}'
      </h3>
      {% if search.results_count > 0 %}
        {% include 'collection-grid' with collection: search, type: "search" %}
      {% endif %}
    {% endif %}
  </div>
</section>

{% schema %}
{
	"name": "Page",
	"settings": [
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "text",
			"id": "product_results",
			"label": "Product Results Text",
      "default": "products found for",
      "info": "Between Result Count & Terms"
		}
  ]
}
{% endschema %}