<section class="c-collectionList__container o-strip u-noSelect">
  <div class="c-collectionList__container o-container--large">
    {% include 'collection-grid' with collection: collections['all-products'] %}
  </div>
</section>