<section class="c-collection o-strip u-noSelect">
  <div class="c-collection__container o-container--large">
    {% include "collection-grid" with collection %}
  </div>
</section>
COLLECTION HERE: 
<vue-collection collection="{{ collection.handle }}"></vue-collection>