/*========== Box Shadow ==========*/

$box-shadow-header: 0 1px 5px rgba(0, 0, 0, 0.05);
$box-shadow-header-drop: 0 0 2px rgba(0, 0, 0, 0.15);
$box-shadow-drawer: 0px 1px 5px
  rgba(0, 0, 0, 0.25);
$box-shadow-circle: 0 0 3px 0px #e2e2e2;
