/*========== Colors ==========*/

$bg-gray-light: #fcfcfc;
$bg-gray: #f7f7f7;

$color-gray: #888;

$color-black-light: #444444;
$color-black: #333333;
$color-black-dark: #222222;

$color-blue-lightest: #8fd2f3;
$color-blue-light: #60beec;
$color-blue: #3aace5;
$color-blue-dark: #0585c3;
$color-blue-darker: #04618e;

$color-red: #f94331;
$color-red-dark: #e14536;

$hr-gray-light: #eee;
$hr-gray: #e2e2e2;
