/*========== Colors ==========*/

$bg-gray-light: #fcfcfc;
$bg-gray: #f7f7f7;

$color-gray-light: #aaaaaa;
$color-gray: #888888;
$color-gray-dark: #666666;

$color-black-light: #444444;
$color-black: #333333;
$color-black-dark: #222222;

$color-blue-lightest: #d3eefb;
$color-blue-lighter: #8fd2f3;
$color-blue-light: #60beec;
$color-blue: #3aace5;
$color-blue-dark: #0585c3;
$color-blue-darker: #04618e;

$color-red-lightest: #ffd3ce;
$color-red-lighter: #ffafa7;
$color-red-light: #ff8d81;
$color-red: #f94331;
$color-red-dark: #e14536;

$color-silver-light: #fcfcfc;
$color-silver: #f7f7f7;
$color-silver-dark: #f2f2f2;

$hr-gray-light: #ebebeb;
$hr-gray: #e2e2e2;
