/*========== Z Index ==========*/

$z-index-page: 100;
$z-index-footer: 200;
$z-index-subheader: 300;
$z-index-sidemenu: 400;
$z-index-header: 500;
$z-index-cart: 600;
$z-index-modal: 700;
$z-index-loading: 800;
