/*========== Buttons ==========*/

@define-mixin button-base {
  width: 100%;
  padding: 14px 35px;
  border-radius: $border-radius-input;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  user-select: none;
  @media(--mobile) {
    width: auto;
  }
  @media(--tablet) {
    padding: 12px 35px;
  }
  &:hover {
    cursor: pointer;
  }
}

@define-mixin button $color: $color-gray {
  @mixin button-base;
  @mixin transition-bg-darken $color;
}

@define-mixin button-hollow $color: $color-gray {
  @mixin button-base;
  @mixin transition-text-border-darken $color;
}

@define-mixin button-round {
  @mixin button-base;
  @media (--tablet) {
    border-radius: 50px;
  }
}

@define-mixin button-small {
  @mixin button-base;
  && {
    padding: 12px 30px;
    font-size: 14px;
    @media(--tablet) {
      padding: 10px 30px;
    }
  }
}

@define-mixin button-large {
  @mixin button-base;
  && {
    padding: 16px 40px;
    font-size: 16px;
    @media(--tablet) {
      padding: 14px 40px;
    }
  }
}

@define-mixin button-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  border-radius: 100%;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
}
