/*========== Container ==========*/

@define-mixin container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  @media (--mobile) {
    max-width: 700px;
    padding-right: 40px;
    padding-left: 40px;
  }
  @media (--tablet) {
    max-width: 900px;
  }
  @media (--desktop) {
    max-width: 1024px;
  }
}

@define-mixin container-large {
  @mixin container;
  @media (--desktop) {
    max-width: 1240px;
  }
}