/*========== Flex ==========*/

@define-mixin container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  @media (--mobile) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 700px;
  }
  @media (--desktop) {
    max-width: 1200px;
  }
}

@define-mixin container--small {
  @mixin container;
  @media (--desktop) {
    max-width: 900px;
  }
}


@define-mixin container--large {
  @mixin container;
  width: 100%;
  @media (--mobile) {
    max-width: 1200px;
  }
}