/*========== Flex ==========*/

@define-mixin flex $direction: row, $justify: space-between, $align: flex-start,
  $wrap: nowrap {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@define-mixin flexRow {
  @mixin flex row, space-between, center, nowrap;
}

@define-mixin flexColumn {
  @mixin flex column, center, center, nowrap;
}

@define-mixin flexFlip $gutter: 50px {
  @mixin flexColumn;
  @media(--tablet) {
    @mixin flexRow;
    align-items: flex-start;
  }
}

@define-mixin flexItem $width: 50%, $gutter: 40px, $margin: 50px {
  width: calc($width - $gutter);
  @media(--mobile-max) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }
}


