/*========== Lost ==========*/

@lost flexbox flex;

@define-mixin lost {
  lost-center: 100%;
}

@define-mixin lost-item $xs: 1, $mobile: 1/2, $tablet: 1/3, $desktop: 1/4 {
  @media(--mobile) {
    lost-column: $mobile
  }
  @media (--tablet) {
    lost-column: $tablet;
  }
  @media (--desktop) {
    lost-column: $desktop;
  }
}
