/*========== Lost ==========*/

@lost flexbox flex;

@define-mixin lost {
  lost-center: 100%;
  lost-utility: clearfix;
}

@define-mixin lost-item $mobile: 1/2, $tablet: 1/4, $desktop: 1/4 {
  @media(--mobile) {
    lost-column: $mobile calc(1/2 );
  }
  @media (--tablet) {
    lost-column: $tablet;
  }
  @media (--desktop) {
    lost-column: $desktop;
  }
}
