/*========== Transitions ==========*/

@define-mixin transition-opacity $opacity: 0.8,
  $speed: 0.15s, $ease: ease-in-out {
  transition: opacity $speed $ease;
  &:hover {
    opacity: $opacity;
  }
}

@define-mixin transition $transition, $speed, $ease {
  transition: $transition $speed $ease;
}

@define-mixin transition-bg-darken $color,
  $speed: 0.15s, $ease: ease-in-out {
  @mixin transition background-color $speed, $ease;
  background-color: $color;
  &:hover {
    background-color: color($color shade(10%));
  }
}

@define-mixin transition-color-darken $color: color-$gray, $speed: 0.15s, $ease: ease-in-out {
  color: $color;
  @mixin transition color $speed, $ease;
  &:hover {
    color: color($color shade(20%));
  }
}

@define-mixin transition-slide $speed: 0.35s,
  $ease: ease {
  transition: transform $speed $ease;
}
