/*========== Visibility ==========*/

@define-mixin hide-tablet {
  @media (--tablet) {
    display: none !important;
  }
}

@define-mixin show-tablet {
  @media (--mobile-max) {
    display: none !important;
  }
}

@define-mixin hide-desktop {
  @media (--desktop) {
    display: none !important;
  }
}

@define-mixin show-desktop {
  @media (--tablet-max) {
    display: none !important;
  }
}
