/*========== Widths ==========*/

@define-mixin full-width-xs {
  @media (--xs) {
    min-width: 100vw !important;
    width: 100vw !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
}