/*========== Who We Are ==========*/

.c-whoWeAre {
  .c-problem__heading {
    margin-bottom: 40px;
    @media(--tablet) {
      margin-bottom: 50px;
    }
  }
  .c-problem__item {
    max-width: 300px;
    margin: 0 auto;
  }
  .c-problem__itemCount {
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: $color-blue;
    color: white;
    font-family: $font-body;
    font-size: 22px;
    font-weight: 700;
  }
  .c-problem__itemHeading {
    font-size: 18px;
  }
  .c-problem__itemText {
    font-size: 18px;
  }
  .c-mission {
    position: relative;
    background-size: cover;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-overlay-blue;
    }
  }
  .c-mission__preheading,
  .c-mission__heading {
    color: #f7f7f7;
  }
  .c-mission__text {
    color: #eee;
  }
  .c-story__flex {
    align-items: center;
    margin-top: 40px;
  }
  .c-story__image {
    width: 450px;
    margin-bottom: 40px;
    @mixin full-width-xs;
    @media(--mobile) {
      border-radius: 5px;
    }
    @media(--desktop) {
      margin-bottom: 0;
    }
    
  }
  .c-story__details {
    @media(--tablet) {
      padding-left: 40px;
    }
  }
  .c-story__quote,
  .c-story__author,
  .c-story__bio {
    display: block;
    text-align: center;
    @media(--tablet) {
      text-align: left;
    }
  }
  .c-story__quoteBreak {
    display: block;
    height: 20px;
  }
  .c-story__author {
    color: $color-blue;
    font-size: 22px;
    font-weight: 600;
  }
  .c-support__item {
    max-width: 300px;
    margin: 0 auto;
    &:hover, &:focus {
      .c-support__itemButton {
        background-color: $color-blue-darker;
      }
    }
  }
  .c-support__itemHeading {
    color: $color-blue;
    text-transform: capitalize;
  }
  .c-support__itemText {
    font-size: 18px;
  }
  .c-support__itemButton {
    width: 28px;
    height: 28px;
    margin: -10px 0 20px;
    background-color: $color-secondary;
    border-radius: 50%;
    transition: background-color .15s ease-in-out;
  }
  .c-support__itemArrow {
    position: relative;
    left: 1px;
    color: white;
    font-size: 15px;
  }
}