/*========== How We Give Back ==========*/

.c-contactUs {
  .c-reach__heading {
    margin-bottom: 40px;
    @media(--tablet) {
      margin-bottom: 50px;
    }
  }
  .c-reach__item {
    width: 300px;
    margin: 0 auto;
  }
  .c-reach__itemIcon {
    margin-bottom: 18px;
    color: $color-blue;
    &.fa-paper-plane {
      font-size: 28px;
    }
    &.fa-facebook-messenger {
      font-size: 32px;
    }
    &.fa-at {
      font-size: 30px;
    }
  }
  .c-reach__itemHeading {
    font-size: 18px;
  }
  .c-reach__itemText {
    font-size: 18px;
  }
  .c-reach__itemButton {
    width: 150px;
    margin-bottom: 30px;
  }
  .c-assistance {
    position: relative;
    background-size: cover;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-overlay-blue;
    }
  }
  .c-assistance__heading {
    color: #f7f7f7;
  }
  .c-assistance__text {
    color: #eee;
  }
  .c-assistance__button {
    background-color: $color-blue-dark;
    border: 2px solid #f7f7f7;
    color: #f7f7f7;
    font-size: 18px;
    @mixin transition-bg-darken $color-blue-dark;
  }
  .c-instagram__text {
    span {
      color: $color-blue;
      font-weight: 600;
      white-space: nowrap;
    }
    i {
      font-size: 14px;
    }
  }
  .c-instragram__link {
    display: block;
    position: relative;
  }
  .c-instagram__image {
    display: block;
    transform-origin: center;
    transition: transform .25s ease-in-out;
    will-change: transform;
  }
  .c-instagram__hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity .25s ease-in-out;
    i {
      color: white;
      font-size: 38px;
    }
  }
  .c-instragram__link:hover, .c-instragram__link:focus {
    .c-instagram__image {
      transform: scale(1.15);
    }
    .c-instagram__hover {
      opacity: 1;
    }
  }
}