/*========== Footer ==========*/

.c-footer {
  position: relative;
}


/*========== FooterTop ==========*/

.c-footerTop {
  @mixin flex column, center, center;
  width: 100%;
  padding: 50px 0 40px;
  background-color: $color-black-light;
}
.c-footerTop__nav {
  @mixin flex row, flex-start, flex-start, wrap;
  margin-bottom: 30px;
  @media(--desktop) {
    justify-content: space-between;
  }
}
.c-footerTop__group {
  width: 100%;
  margin-bottom: 60px;
  @mixin flex column, flex-start, center;
  text-align: center;
  @media (--mobile) {
    align-items: flex-start;
    text-align: left;
    width: calc(50% - 20px);
  }
  @media (--tablet) {
    width: calc(33.333% - 20px);
    margin-bottom: 40px;
  }
  @media (--desktop) {
    width: calc(20% - 20px);
    margin-bottom: 20px;
  }
}
.c-footerTop__group--social {
  @media(--tablet) {
    width: 100px
  }
}
.c-footerTop__heading {
  color: $color-silver-light;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.c-footerTop__link {
  color: #ddd;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.88;
  margin-bottom: 4px;
  &:hover {
    color: $color-blue-light;
  }
}
.c-footerTop__socialList {
  @mixin flex row, flex-start, center;
}
.c-footerTop__socialItem {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
.c-footerTop__socialLink {
  @mixin flex row, center, center;
  margin-left: 8px;
  height: 24px;
  width: 24px;
  background-color: $color-silver-dark;
  border-radius: 50%;
  text-align: center;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    background-color: $color-blue-light;
  }
}
.c-footerTop__socialIcon {
  color: $color-black-light;
  font-size: 13px;
}
.c-footerTop__socialIcon--instagram {
  font-size: 15px;
}
.c-footerTop__legal {
  margin-bottom: 20px;
  text-align: center;
  color: #aaa;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.88;
  @media(--tablet) {
    margin-bottom: 4px;
  }
}
.c-footerTop__legalList {
  display: inline-flex;
}
.c-footerTop__legalItem {
  display: inline-block;
  margin-left: 10px;
  @media(--mobile-max) {
    &:first-child {
      display: none;
    }
  }
}
.c-footerTop__legalLink {
  color: #aaa;
  &:hover {
    color: #eee;
  }
}
.c-footerTop__legalBreak {
  @mixin hide-tablet;
}
.c-footerTop__legalPipe {
  padding: 0 2px;
}
.c-footerTop__legalPipe--0 {
  @mixin show-tablet;
}


/*========== FooterBottom ==========*/

.c-footerBottom {
  background-color: $color-black;
  padding: 20px 30px;
  @mixin flex row, center, center;
}
.c-footerBottom__logo {
  display: block;
}
.c-footerBottom__logoIcon {
  height: 40px;
  opacity: .9;
}