/*========== Address Form ==========*/

.c-addressForm {
  width: 750px;
  max-width: 100%;
  .c-addressForm__heading {
    margin-bottom: 20px;
  }
  .c-addressForm__button {
    width: 100%;
  }
}
.c-addressesForm__group {
  @mixin flexColumn;
  @media(--tablet) {
    align-items: flex-start;
  }
}
.c-addressesForm__subheading {
  margin-bottom: 5px;
  @media(--mobile-max) {
    text-align: center;
  }
}
.c-addressesForm__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  @media(--mobile-max) {
    text-align: center;
  }
}
.c-addressForm__delete {
  @mixin flex row, center, center;
  margin-top: 10px;
  width: 100%;
  @media(--mobile) {
    justify-content: flex-end;
  }
}
.c-addressForm__deleteButton {
  color: #ccc;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
  padding: 10px 0;
  &:hover {
    color: #bbb;
  }
}
.c-addressForm__deleteIcon {
  margin-right: 5px;
}