/*========== Form Customer ==========*/

.c-formCustomer {
  width: 100%;
  max-width: 450px;
  margin-top: 80px;
}
.c-formCustomer__heading {
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.c-formCustomer__body {
  width: 100%;
  @media(--mobile) {
    padding: 40px;
    border-radius: $border-radius-card;
    border: 1px solid #d3d3d3;
    background-color: $bg-gray-light;
    box-shadow: $box-shadow-modal;
  }
}
.c-formCustomer__links {
  width: 100%;
  @mixin flex column, flex-start, center;
  margin-top: 20px;
  color: $color-blue-lighter;
  font-size: 16px;
  @media(--mobile) {
    @mixin flex row;
  }
}
.c-formCustomer__linkBlock {
  margin-bottom: 10px;
  &:first-child {
    flex-grow: 1;
  }
}
.c-formCustomer__link {
  color: $color-blue-lighter;
  &:hover {
    color: $color-blue-lightest;
  }
}