/*========== Header ==========*/

.c-header {
  width: 100%;
  position: relative;
  z-index: $z-index-header;
  height: 90px;
  @media(--tablet) {
    height: 160px;
  }
}


/*========== HeaderBar ==========*/

.c-headerBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-blue;
  padding: 0 15px;
  color: white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.c-headerBar__icon {
  font-size: 12px;
  margin: 0 4px;
}


/*========== HeaderTop ==========*/

.c-headerTop {
  width: 100%;
  @mixin flex row, center, center;
  background-color: white;
  position: fixed;
  top: 30px;
  height: 60px;
  @media(--mobile-max) {
    box-shadow: $box-shadow-header;
  }
  @media(--tablet) {
    position: absolute;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid $hr-gray-light;
  }
}
.c-headerTop__wrapper {
  height: 100%;
  @mixin flex row, center, center;
}
.c-headerTop__logo {
  display: block;
  height: 40px;
  @media(--tablet) {
    height: 48px; 
  }
}
.c-headerTop__logoIcon {
  display: block;
  height: 100%;
}
.c-headerTop__menu, .c-headerTop__cart {
  @mixin hide-tablet;
  position: fixed;
  padding: 0;
  height: 60px;
  width: 60px;
  @mixin flex row, center, center;
  svg {
    width: 24px;
    fill: $color-black-dark;
  }
  &:hover svg {
    fill: $color-blue;
  }
}
.c-headerTop__menu {
  left: 0;
}
.c-headerTop__cart {
  right: 0;
  margin-top: -2px;
}
.c-headerTop__cartCount {
  @mixin flex row, center, center;
  position: absolute;
  background-color: #f94331;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  right: 14px;
  bottom: 10px;
  width: 16px;
  height: 16px;
}
.c-headerTop__burger svg {
  position: relative;
  top: 1px;
  fill: $color-black;
  width: 22px;
}
.c-headerTop__close svg {
  position: relative;
  top: 1px;
  fill: $color-black;
  width: 18px;
}


/*========== HeaderBottom ==========*/

.c-headerBottom {
  @mixin show-tablet;
  position: absolute;
  top: 110px;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: $box-shadow-header;
  &.is-fixed {
    position: fixed;
    top: 30px;
  }
}
.c-headerBottom__wrapper {
  height: 100%;
}
.c-headerBottom__nav {
  height: 100%;
  @mixin flex row, space-between, center;
}
.c-headerBottom__burger {
  height: 50px;
  width: 50px;
  margin-left: -15px;
  @mixin flex row, center, center;
  fill: $color-black;
  &:hover {
    fill: $color-blue;
  }
  svg {
    height: 14px;
  }
}
.c-headerBottom__list {
  @mixin flex row, center, center;
}
.c-headerBottom__item {
  margin-left: 30px;
  &:hover {
    .c-headerBottom__drop {
      display: block;
    }
  }
}
.c-headerBottom__link {
  display: block;
  color: $color-black-dark;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  &:hover {
    cursor: pointer;
    color: $color-blue;
  }
}
.c-headerBottom__drop {
  display: none;
  position: absolute;
  margin-top: -2px;
  width: auto;
  min-width: 180px;
  background-color: white;
  padding: 15px 0;
  border-radius: $border-radius-card;
  box-shadow: $box-shadow-header-drop;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
  }
  &:before {
    top: -6px;
    left: 20px;
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    border-radius: $border-radius-card;
    box-shadow: $box-shadow-header-drop;
  }
  &:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    border-radius: $border-radius-card;
  }
}
.c-headerBottom__dropLink {
  display: block;
  padding: 0 24px;
  color: $color-black-dark;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  white-space: nowrap;
  &:hover {
    background-color: $bg-gray;
    color: $color-blue;
  }
}
.c-headerBottom__cart {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: -10px;
  @mixin flex row, center, center;
  fill: $color-black;
  &:hover {
    fill: $color-blue;
  }
  svg {
    position: relative;
    bottom: 2px;
    height: 20px;
  }
}
.c-headerBottom__cartCount {
  @mixin flex row, center, center;
  position: absolute;
  background-color: #f94331;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  right: 8px;
  bottom: 8px;
  width: 16px;
  height: 16px;
}

/*********************************************************** */

/* 
.c-headerMain__inner {
  height: 100%;
  @mixin flex row, space-between, center, wrap;
  @media(--tablet-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media(--mobile-max) {
    justify-content: center;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.c-headerMain__menuTrigger {
  position: absolute;
  left: 15px;
  @mixin hide-tablet;
  @mixin button;
  @mixin flex row, center, center;
  @mixin transition-opacity;
  height: 40px;
  width: 40px;
  padding: 0 !important;
}
.c-headerMain__menuIcon {
  fill: $color-black-dark;
  svg {
    display: block;
  }
}
.c-headerMain__menuIcon--open {
  width: 20px;
}
.c-headerMain__menuIcon--close {
  width: 16px;
} */