/*========== Product Images ==========*/

.c-productImages__slideshow {
  @media(--mobile-max) {
    display: none;
  }
  @media(--desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.c-productImages__imageBox {
  @media(--desktop) {
    width: calc(100% - 90px);
  }
}
.c-productImages__thumbnailList {
  @media(--desktop) {
    flex-direction: column;
    order: -1;
  }
}
.c-productImages__thumbnailItem {
  @media(--desktop) {
    margin: 0 0 20px;
  }
}