/*========== Product Form ==========*/

.c-productTags {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.c-productTags__tag {
  margin: 0 30px 20px 0;
}

.c-productTags__icon {
  height: 50px;
}

.c-productTags__text {
  display: block;
  color: $color-blue;
  font-family: $font-raleway;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}