/*========== Sidemenu ==========*/

.c-sidemenu {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $bg-gray;
  transform: translateX(-100%);
  @mixin transition-slide;
  @mixin hide-tablet;
  &.c-sidemenu--open {
    transform: translateX(0);
  }
}
.c-sidemenu__inner {
  width: 100vw;
  overflow-y: scroll;
  @mixin flex column, center, stretch;
}
.c-sidemenu__search {
  @mixin flex;
  padding: 0 30px;
  background-color: $bg-gray-light;
  border-bottom: 1px solid $hr-gray-light;
}
.c-sidemenu__searchIcon {
  position: relative;
  top: 1px;
  width: 18px;
  fill: $color-blue;
}
.c-sidemenu__searchInput {
  padding: 0 0 0 15px;
  flex-grow: 1;
  background-color: transparent;
  color: $color-blue;
  font-family: $font-raleway;
  line-height: 60px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: none !important;
  &::placeholder {
    color: $color-gray;
  }
}
.c-sidemenu__link {
  display: block;
  position: relative;
  padding: 0 30px;
  color: $color-blue;
  font-family: $font-raleway;
  line-height: 60px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid $hr-gray-light;
}
.c-sidemenu__linkIcon {
  position: absolute;
  right: 30px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  svg {
    width: 12px;
    fill: $color-blue;
  }
}
.c-sidemenu__shipping {
  margin: 20px;
  padding: 20px;
  background-color: $color-blue;
  text-align: center;
  color: white;
  font-family: $font-raleway;
  font-size: 15px;
  font-weight: 600;
}
.c-sidemenu__secondary {
  display: none;
}

.c-sidemenu__inner {
  
}
.c-sidemenu__search {

}
.c-sidemenu__searchIcon {

}
.c-sidemenu__searchInput {

}
.c-sidemenu__nav {
  width: 100vw;
  height: 100%;
  background-color: $bg-gray-light;
}
.c-sidemenu__nav {

}