<!doctype html>
<html lang="{{ shop.locale }}">
<head>
{% include 'head-tags' %}
{{ content_for_header }}
</head>
<body>
  <div id="view" class="c-view">
    <header id="header" class="c-header">
      {% include 'header-bar' %}
      {% include 'header-main' %}
      {% include 'header-mobile' %}
      {% include 'header-sub' %}
    </header>
    <div id="page" class="c-page">
      {{ content_for_layout }}
    </div>
    <footer id="footer" class="c-footer">
      {% include 'footer-cart' %}
      {% include 'footer-main' %}
      {% include 'footer-legal' %}
    </footer>
  </div>
  <vue-mobile-menu>
    {% include 'mobile-menu' %}
  </vue-mobile-menu>
  <vue-mini-cart></vue-mini-cart>
  {% include 'script-tags' %}
</body>
</html>